*.log
*.o
*.elf
*.map
*.d
*.ctu-info
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/*.X/.generated_files
**/*.X/debug
**/*.X/dist
**/*.X/build
**/nbproject/project.properties
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
